# Sara Seeberg-Rommetveit
Sara Seeberg-Rommetveit <sarasee@stud.ntnu.no> Sara Seeberg-Rommetveit <sarasee@stud.ntnu.no>
Sara Seeberg-Rommetveit <sarasee@stud.ntnu.no> sarasee <sarasee@stud.ntnu.no>
Sara Seeberg-Rommetveit <sarasee@ntnu.no> Sara Seeberg-Rommetveit <sarasee@ntnu.no>
Sara Seeberg-Rommetveit <sarasee@ntnu.no> sarasee <sarasee@ntnu.no>

# Aurora Nergaard
Aurora Nergaard <aurorane@stud.ntnu.no> Aurora Nergaard <aurorane@stud.ntnu.no>
Aurora Nergaard <aurorane@stud.ntnu.no> aurorane <aurorane@stud.ntnu.no>
Aurora Nergaard <aurorane@ntnu.no> Aurora Nergaard <aurorane@ntnu.no>
Aurora Nergaard <aurorane@ntnu.no> aurorane <aurorane@ntnu.no>

# Lotte Kvalheim
Lotte Kvalheim <lottek@stud.ntnu.no> Lotte Kvalheim <lottek@stud.ntnu.no>
Lotte Kvalheim <lottek@stud.ntnu.no> Lotte Kvalheim <lotte.kvalheim@ntnu.no>
Lotte Kvalheim <lottek@stud.ntnu.no> Lotte Kvalheim <lottek@ntnu.no>
Lotte Kvalheim <lottek@stud.ntnu.no> lottek <lottek@stud.ntnu.no>
Lotte Kvalheim <lottek@stud.ntnu.no> lottek <lottek@ntnu.no>


# Brinje Marie Haugli
Brinje Marie Haugli <brinjemh@stud.ntnu.no> Brinje Marie Haugli <brinjemh@stud.ntnu.no>
Brinje Marie Haugli <brinjemh@stud.ntnu.no> Brinje Marie Haugli <Brinjemh@ntnu.no>
Brinje Marie Haugli <brinjemh@stud.ntnu.no> Brinje Haugli <brinjemh@stud.ntnu.no>
Brinje Marie Haugli <brinjemh@stud.ntnu.no> Your Name <you@example.com>
Brinje Marie Haugli <brinjemh@stud.ntnu.no> brinjemh <Brinjemh@ntnu.no>

# Adrian Stoica
Adrian Stoica <stoica@ntnu.no> Adrian Stoica <stoica@ntnu.no>